.footer {
  width: 100vw;
  span {
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, 0.5);
  }
  img {
    width: 120px;
    height: 40px;
  }
  h6 {
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }
  input {
    max-width: 260px;
    max-height: 44px;
  }
  &__blocks {
    display: flex;
    align-items: inherit;
    justify-content: space-around;
  }
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 160px;
    max-width: 260px;
    padding: 80px 0;
  }
}
