.main {
  background-image: url(../images/background-image.png);
  height: 100vh;
  width: 100vw;

  &__description {
    position: absolute;
    width: 252px;
    right: 134px;
    bottom: 18px;
    font-size: 14px;
    text-align: right;
    color: rgba(31, 32, 65, 0.75);
  }
}
