include libs/_libs
footer.footer
    .footer__blocks
        .footer__block
            img(src=`../src/images/Logo.png`)
            span Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»             
        .footer__block
            h6 НАВИГАЦИЯ
            span О нас
            span Новости
            span Служба поддержки
            span Услуги
        .footer__block
            h6 О НАС
            span О сервисе
            span Наша команда
            span Вакансии
            span Инвесторы
        .footer__block
            h6 СЛУЖБА ПОДДЕРЖКИ
            span Соглашения
            span Сообщества
            span Связь с нами
        .footer__block
            h6 ПОДПИСКА
            span Получайте специальные предложения и новости сервиса
            input(placeholder="Email")