
head 
    script.
        
        function toggleAuthModal(){
            var authModal=$("#auth-modal")
            authModal.toggle() 
            $("#register-modal").hide()
            }
    script. 
        function closeProfile(){
            $("#user").hide()
            $("#actions").show()
            }
    script.
        
        function toggleRegisterModal(){
            var regModal=$('#register-modal')
            regModal.toggle()

            $("#auth-modal").hide()
            }

header.header
    .logo
        img(src='../src/images/Logo.png' alt="logo")
    .header__menu
        .header__content
            span О нас
            span Услуги
            span Вакансии
            span Новости
            span Соглашения
        .header__auth(id="actions")
            button.header__sign-in(onclick='toggleAuthModal()') Войти
            .header__modal(id="auth-modal")
                include ./modal-auth
            button.header__register(onclick="toggleRegisterModal()") Зарегистрироваться
            .header__modalRegister(id="register-modal")
                include ./modal-register

        .header__user(id="user")
            span(onclick="closeProfile()") Юрий Цезарь
    