header.header
    .logo
        img(src='../src/images/Logo.png' alt="logo")
    .header__menu
        .header__content
            span О нас
            span Услуги
            span Вакансии
            span Новости
            span Соглашения
        .header__auth
            button.header__sign-in Войти
            button.header__register Зарегистрироваться
    