head 
    script.
        var isModalOpen=false;
        function openModalAuth(){
            if(!isModalOpen){
            $("#auth-modal").hide()
            isModalOpen=true 
            }
            else{
                $("#auth-modal").show()
                isModalOpen=false
            }
            }
        
header.header
    .logo
        img(src='../src/images/Logo.png' alt="logo")
    .header__menu
        .header__content
            span О нас
            span Услуги
            span Вакансии
            span Новости
            span Соглашения
        .header__auth
            button.header__sign-in(onclick='openModalAuth()') Войти
            .header__modal(id="auth-modal")
                include ./modal-auth
            button.header__register Зарегистрироваться
    