doctype html
include /libs/_libs

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script.
            function openAuthModal(){
                    toggleRegisterModal()
                    toggleAuthModal()
            }
    body
        .modal-register(id="register-modal")
            h2 Регистрация аккаунта
            .modal-register__name
                input(placeholder='Имя')
                input(placeholder='Фамилия')
            .modal-register__sex
                input(type="radio" name="sex" value="мужчина" id="male")
                label(for="male") Мужчина
                input(type="radio" name="sex" value="женщина" id="female")
                label(for="female") Женщина 
            .modal-register__dateOfBirth
                label ДАТА РОЖДЕНИЯ
                input( placeholder="ДД.ММ.ГГ")
            .modal-register__dataSignIn
                label ДАННЫЕ ДЛЯ ВХОДА В СЕРВИС
                input(placeholder="Email")
                input(placeholder="Пароль")
                label.toggle-control
                    input(type="checkbox" checked="checked")
                    span.control
                    label Получать спецпредложения
            .modal-register__action  
              span Перейти к оплате
              .material-icons arrow_forward
            .modal-register__signIn 
                span Уже есть аккаунт Toxin?
                button(onclick="openAuthModal()") Войти
