doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        .modal-auth
            h2 Войти 
            .modal-auth__form
                input(placeholder='Email')
                input(placeholder='Пароль')
                button(id="log-in") Войти
            .modal-auth__register
                span Нет аккаунта на Toxin?
                button Создать 