footer.footer-sub
    span Copyright © 2018 Toxin отель. Все права защищены.
    .footer-sub__icons
        img(src='../src/images/twitter-icon.svg' alt="twitter")
        img(src='../src/images/FB-icon.svg' alt="facebook")
        img(src='../src/images/inst-icon.svg' alt="instagram")