include components/libs/_libs
doctype html
html(lang='en')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    body
        include components/header
              
        main.main
            include components/form-persons
        span.main__description Лучшие номера для вашей работы, отдыха и просто вдохновения
        include components/footer
        include components/sub-footer


