include components/libs/_libs
doctype html
html(lang='en')
    body
        include components/header
        main.main
            include components/form-persons
        span.main__description Лучшие номера для вашей работы, отдыха и просто вдохновения
        include components/footer
        include components/sub-footer


